ARASENSE_GCP_PROJECT: "valid-shine-488311-d6"
GCP_SERVICE_ACCOUNT_JSON: '{"type":"service_account","project_id":"valid-shine-488311-d6","private_key_id":"REPLACE_ME","private_key":"-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n","client_email":"REPLACE_ME","client_id":"REPLACE_ME","token_uri":"https://oauth2.googleapis.com/token"}'
